<div class="container">
  <div class="row">
    <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
      <form class="form-horizontal">
        <div class="form-group">
          <label for="partyname" class="col-sm-2 control-label">Party name:</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="partyname" ng-model="partyDetails.party.name" ng-disabled="!partyDetails.isLoggedIn" />
          </div>
        </div>
        <div class="form-group">
          <label for="desc" class="col-sm-2 control-label">Description</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="desc" ng-model="partyDetails.party.description" ng-disabled="!partyDetails.isLoggedIn"/>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <div class="checkbox">
              <label>
                <input type="checkbox" ng-model="partyDetails.party.public" ng-disabled="!partyDetails.isLoggedIn"> Public Party?
              </label>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button ng-click="partyDetails.save()" class="btn btn-primary" ng-disabled="!partyDetails.isLoggedIn">Save</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="row" ng-show="partyDetails.canInvite()">
    <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Users to invite:</h3>
        </div>
        <div class="panel-body">
          <ul class="list-group">
            <li class="list-group-item" ng-repeat="user in partyDetails.users | uninvited:partyDetails.party">
              {{ user | displayName }}
              <button ng-click="partyDetails.invite(user)">Invite</button>
            </li>
            <li class="list-group-item" ng-if="(partyDetails.users | uninvited: partyDetails.party).length === 0">
              Everyone was already invited
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
