<div class="container">
  <div class="jumbotron">
    <div class="row">
      <div class="col-lg-9" ng-if="partiesList.currentUser">
        <form class="form-horizontal">
          <div class="form-group">
            <label for="partyname" class="col-sm-2 control-label">Party name:</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="partyname" ng-model="partiesList.newParty.name" />
            </div>
          </div>
          <div class="form-group">
            <label for="desc" class="col-sm-2 control-label">Description</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="desc" ng-model="partiesList.newParty.description" />
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <div class="checkbox">
                <label>
                  <input type="checkbox" ng-model="partiesList.newParty.public"> Public Party?
                </label>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button ng-click="partiesList.addParty()" class="btn btn-default">Add party</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-9">
        <h1>Parties:</h1>
        <div class="row">
          <div class="col-lg-9">
            <form class="form-horizontal">
              <div class="form-group">
                <label for="searchBy" class="col-sm-2 control-label">Search: </label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" ng-model="partiesList.searchText" placeholder="Search here ...">
                </div>
              </div>
              <div class="form-group">
                <label for="orderby" class="col-sm-2 control-label">Order: </label>
                <div class="col-sm-10">
                  <div class="btn-group" id="orderby">
                    <button type="button" ng-click="partiesList.updateSort('1')" class="btn btn-default">Ascending</button>
                    <button type="button" ng-click="partiesList.updateSort('-1')" class="btn btn-default">Descending</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-body">
            <ul>
              <li dir-paginate="party in partiesList.parties | itemsPerPage: partiesList.perPage" total-items="partiesList.partiesCount">
                <span ng-if="partiesList.currentUser && party.owner === partiesList.currentUser._id">
                <a ui-sref="partyDetails({partyId: party._id})">{{party | displayPartyName}}</a>
              </span>
                <span ng-if="!partiesList.currentUser || (partiesList.currentUser && party.owner !== partiesList.currentUser._id)">
                {{party | displayPartyName}}
              </span>
                <p>{{party.description}}</p>
                <button ng-click="partiesList.removeParty(party)" ng-if="partiesList.currentUser && party.owner === partiesList.currentUser._id"> X </button>
                <div class="btn-group" ng-if="partiesList.currentUser">
                  <button type="button" class="btn btn-default" ng-click="partiesList.rsvp(party._id, 'yes')">I'm going</button>
                  <button type="button" class="btn btn-default" ng-click="partiesList.rsvp(party._id, 'maybe')">Maybe</button>
                  <button type="button" class="btn btn-default" ng-click="partiesList.rsvp(party._id, 'no')">No</button>
                </div>
                <div>
                  <label>Who is coming:</label>
                  <div>Yes: <span class="badge">{{ '' + (party.rsvps | filter:{rsvp:'yes'}).length }} </span>
                    <ul>
                      <li ng-repeat="rsvp in party.rsvps | filter:{rsvp:'yes'}">
                        {{ partiesList.getUserById(rsvp.user) | displayName }}
                      </li>
                    </ul>
                  </div>
                  <div>Maybe: <span class="badge"> {{ '' + (party.rsvps | filter:{rsvp:'maybe'}).length }}</span>
                    <ul>
                      <li ng-repeat="rsvp in party.rsvps | filter:{rsvp:'maybe'}">
                        {{ partiesList.getUserById(rsvp.user) | displayName }}
                      </li>
                    </ul>
                  </div>
                  <div>No: <span class="badge"> {{ '' + (party.rsvps | filter:{rsvp:'no'}).length }}</span>
                    <ul>
                      <li ng-repeat="rsvp in party.rsvps | filter:{rsvp:'no'}">
                        {{ partiesList.getUserById(rsvp.user) | displayName }}
                      </li>
                    </ul>
                  </div>
                </div>
                <span ng-init="invitedUsers = partiesList.outstandingInvitations(party)"></span>
                <div ng-if="invitedUsers.length > 0">
                  <br>
                  <ul>
                    <label>Users who not responded:</label>
                    <li ng-repeat="invitedUser in invitedUsers">
                      {{ invitedUser | displayName }}
                    </li>
                  </ul>
                </div>
                <p> <small>Posted by <i>{{partiesList.getPartyCreator(party) | displayName}}</i></small></p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <dir-pagination-controls on-page-change="partiesList.pageChanged(newPageNumber)" boundary-links="true"></dir-pagination-controls>
      </div>
    </div>
  </div>
</div>
